# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.build/
dist/
.eggs/

# venv
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# CuPy cache (optional)
~/.cupy/kernel_cache/

